@import "tailwindcss";

:root {
  --background: #000;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.hamburger-menu {
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
}

/* mobile screen size => navs -> menuIcon */
@media (max-width: 768px) {
  .hamburger-menu { /*show navs*/
    display: flex;
  }  
}